<div class="container">
 <div class="col-md-8 offset-md-1">

   <h4>注文情報入力</h4>

   <h5 class="font-weight-bold">支払方法</h5>
    <%= #f.radio_button :is_deleted, true %>
    <%= #f.label :is_deleted,"有効" %>
    <%= #f.radio_button :is_deleted, false %>
    <%= #f.label :is_deleted,"退会" %>

 </div>
</div>